<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/beers">Beers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sales">Sales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/photos">Photos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Carta</a>
        </li>
      </ul>
    </div>
  </nav>
